#header {
   color: #01999a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 4rem 0;
}
 
#header .nav {
   display: flex;
   align-items: center;
   color: #33a2cc;
   margin:1rem;
 
}
#header .nav .nav-link{
   margin-right: 1rem;
   color: #33a2cc;
}
.line{
   background-color: #ddd;
   opacity: 0.3;
   margin: 1.5rem 0 1rem;
}
.form-container .heading {
   padding: 1.25rem 0 1.25rem 1rem;
   background-color: #aaa;
   color: white;
   margin-top: 0px;
}
 
 
.form-container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   width: 400px;
   border: 1px solid black;
   border-radius: 8px;
   overflow: hidden;
}
h3 {
   display: block;
   font-size: 1.17em;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}
.form-container .form {
   padding-top: 0.75rem;
}
form {
   display: block;
  
}
 
.form-container .field-container {
   display: flex;
   flex-direction: column;
}
.field-container, .radio-group {
   margin: 0 1rem;
   margin-bottom: 0.5rem;
}
 
.field-container label {
   color: #aaa;
   margin-bottom: 0.25rem;
}
 
.field-container input, .field-container textarea, .field-container select {
   width: 97%;
   outline: none;
   padding: 0.25rem 0.5rem;
   border-width: 1px;
   border-color: black;
   border-radius: 4px;
}
.field-container select {
   color: white;
   background-color: #2cd3a7;
   border: none;
}
 
.field-container input[name='version'] {
   width: 30%;
}
 
.form .radio-group .group-row {
   display: flex;
}
 
.form-container .field-container input[type='file'] {
   width: 95%;
   border: 1px solid black;
   border-radius: 4px;
   padding: 0.25rem 0.5rem;
   position: relative;
   cursor: pointer;
   color: var gray;
  
}

 
.form-container .footer {
   background-color:#ddd;
   padding: 1rem;
   display: flex;
   justify-content: flex-end;
}
 
.form-container .footer .submit-btn {
   background-color: #2cd3a7;
   border: none;
   outline: none;
   padding: 0.5rem 1.5rem;
   border-radius: 8px;
   color: white;
   letter-spacing: 1px;
   cursor: pointer;
}

.inputfile-box {
   position: relative;
   color: #aaa;
   margin: 15px;
 }
 
 .inputfile {
   display: none;
 }
 
 .container {
   display: inline-block;
   width: 100%;
 }
 
 .file-box {
   display: inline-block;
   width: 100%;
   border: 1px solid;
   padding: 5px 0px 5px 5px;
   box-sizing: border-box;
   height: calc(2rem - 2px);
 }
 
 .file-button {
   background:  #aaa;
   color: white;
   padding: 7px;
   position: absolute;
   border: 1px solid;
   top: 0px;
   right: 0px;
 }
 
 .foot{
   color:  #33a2cc;
   background-color: #aaa;
   padding:20px;
   text-align: right;
 }